/*
  Diary.less
  Describing Dnevnik Module Views
*/
/*
  Custom Fonts
*/
@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
}
@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold";
}
@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    font-family: "Roboto Light";
}
@font-face {
    src: url("/fonts/PT_Serif-Web-Regular.ttf");
    font-family: "PT Serif";
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
}
a.text {
    text-decoration: none;
}
a.text:hover {
    text-decoration: underline;
}
a img {
    border: none;
}
.underlined {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
    box-sizing: border-box;
}
.underlined:hover {
    border-color: transparent;
}
.wrp {
    clear: both;
}
.message-area {
    background: #fff;
    text-align: center;
    font-weight: normal;
}
.message-area span:not(:empty) {
    display: block;
    padding: 3px 0;
}
.message-area span b {
    display: inline-block;
    padding: 3px 5px;
    background: #e2e2e2;
    border-radius: 3px;
}
.message-area span b:after {
    content: " ";
    display: block;
}
.message-area span.error b {
    background: #c41;
    color: #fff;
}
.message-area span.system b {
    background: #c91;
    color: #fff;
}
.message-area span.system b {
    background: #68b584;
    color: #fff;
}
.submenu-container .submenu {
    margin: 0 50px;
    margin: 0 5vw;
    color: #a2a2a2;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    font-family: "Roboto";
}
.submenu-container .submenu li {
    display: inline-block;
    margin-right: 15px;
    line-height: 58px;
}
.submenu-container .submenu li a {
    color: #1b1a1d;
    display: inline-block;
    vertical-align: middle;
    line-height: 58px;
    height: 58px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
.submenu-container .submenu li a.active {
    border-bottom: 2px solid #ace6cd;
}
.submenu-container .submenu li a.active:hover {
    cursor: default;
    text-decoration: none;
}
.submenu-container .submenu li a:hover {
    text-decoration: underline;
}
/* Select 2 Style */
/* // Select 2 Style */
table {
    border-collapse: collapse;
}
.cool-table {
    table-layout: fixed;
    width: 100%;
}
.cool-table th,
.cool-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
/* Up button */
/* Up button */
.to_top {
    display: none;
}
.to_top .to_top_panel {
    display: none;
}
/* Large desktop */
@media (min-width: 1050px) {
    .to_top {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        -moz-opacity: 0.3;
        filter: alpha(opacity=30);
        opacity: 0.3;
        display: none;
    }
    .to_top .to_top_panel {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 11px;
        color: #4d7285;
        padding-top: 10px;
        position: relative;
    }
    .to_top:hover {
        -moz-opacity: 0.9;
        filter: alpha(opacity=90);
        opacity: 0.9;
    }
    .to_top:hover .to_top_panel {
        cursor: pointer;
        background: #f0f0f0;
    }
    .to_top .close_panel {
        position: absolute;
        bottom: 20px;
        left: 0px;
        right: 0px;
        text-align: center;
        line-height: 8px;
        font-family: tahoma, arial, verdana, sans-serif;
        display: none;
    }
    .to_top:hover .close_panel {
        display: block;
    }
    .to_top .to_top_button {
        text-align: left;
        line-height: 8px;
        margin-left: 10px;
        margin-top: 30px;
        font-family: tahoma, arial, verdana, sans-serif;
        font-weight: bold;
    }
    .to_top .to_top_button .arrow {
        font-size: 14px;
        font-weight: bold;
        font-family: tahoma;
        vertical-align: middle;
    }
    /* СЃС‚РёР»СЊ РґР»СЏ mini РїР°РЅРµР»Рё */
    .to_top .to_top_panel .arrow {
        font-size: 20px;
    }
    .to_top .to_top_panel .label {
        display: none;
    }
}
/* Sitemap */
#sitemap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    padding: 50px;
    padding: 50px 5vw;
    z-index: 99999989;
}
#sitemap .close {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Roboto";
}
#sitemap h1 {
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 60px;
    border-bottom: 1px solid #d7d7d7;
}
#sitemap > ul > li {
    margin: 5px 0;
}
#sitemap > ul > li ul {
    margin: 10px 0;
}
#sitemap > ul > li ul li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 20px;
    margin-left: 2%;
    font-weight: bold;
}
#sitemap > ul > li ul li ul {
    display: block;
    font-weight: normal;
}
#sitemap > ul > li ul li ul li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0;
    font-weight: normal;
}
#sitemap > ul > li ul li ul li li {
    display: none;
}
#sitemap > ul > li > a {
    font-size: 28px;
}
.layout {
    position: relative;
    padding: 0;
}
.page {
    background: #fff;
}
.page:after {
    content: "";
    display: block;
    clear: both;
}
.diary-button {
    font-family: "Roboto";
    line-height: 30px;
    font-size: 16px;
    background: none;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
}
.diary-button.gray {
    padding: 5px;
    color: #b1b1b2;
    border: 1px solid #b1b1b2;
    text-transform: uppercase;
    background: none;
    font-size: 10px;
}
/* Summary */
.summary h1 {
    margin-top: 0;
}
/* //Summary */
/* Cabinet */
.left-sidebar {
    float: left;
    width: 23%;
    padding-top: 25px;
}
.left-sidebar .cabinet-teacher-tabs {
    font-size: 18px;
    margin-bottom: 40px;
    border-top: 1px solid #f3f3f3;
    font-family: "Roboto";
}
.left-sidebar .cabinet-teacher-tabs li {
    line-height: 50px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    border-left: 7px solid transparent;
    border-bottom: 1px solid #f3f3f3;
}
.left-sidebar .cabinet-teacher-tabs li.active {
    border-left-color: #ace6cd;
}
.left-sidebar .cabinet-teacher-tabs li a {
    text-decoration: none;
}
.left-sidebar .cabinet-teacher-tabs li i {
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    font-style: normal;
    vertical-align: middle;
    box-sizing: border-box;
}
.left-sidebar .info-block {
    padding: 0 20px 40px 0;
    font-family: "Roboto Light";
    font-size: 14px;
}
.left-sidebar .info-block h3 {
    font-family: "Roboto";
    font-size: 22px;
}
.left-sidebar .info-block h4 {
    font-family: "Roboto";
    font-size: 18px;
}
.left-sidebar .info-block p {
    margin-bottom: 10px;
}
.left-sidebar .info-block .block {
    margin-bottom: 60px;
}
.left-sidebar .info-block .block:last-child {
    margin-bottom: 20px;
}
.left-sidebar .info-block .block .create-application-link {
    position: relative;
    line-height: 48px;
    margin-bottom: 20px;
}
.left-sidebar .info-block .block .create-application-link a {
    display: block;
    padding-left: 20px;
    margin-right: -20px;
    text-align: left;
    font-size: 17px;
}
.left-sidebar .info-block .block .create-application-link a:hover {
    text-decoration: none!important;
}
.left-sidebar .info-block .block .create-application-link a i {
    font-size: 26px;
    line-height: 48px;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    top: -2px;
}
.left-sidebar .school-select,
.left-sidebar .region-select,
.left-sidebar .classes-container {
    margin-bottom: 10px;
}
.left-sidebar .filter-vertical {
    padding-bottom: 20px;
}
h1 {
    font-size: 33px;
    margin-top: 0;
    line-height: 60px;
    border-bottom: 1px solid #d7d7d7;
}
h1 .count {
    display: inline-block;
    font-family: "Roboto Light";
    width: 40px;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #ace6cd;
    font-size: 14px;
    vertical-align: middle;
}
div.content {
    position: relative;
    margin-left: 28%;
    padding: 25px 30px 40px 30px;
}
div.content .user-box {
    display: inline-block;
    width: 44.5%;
    margin-right: 2%;
    margin-bottom: 25px;
    padding: 2%;
    min-height: 200px;
    background: #c2baae;
    vertical-align: top;
    border: 1px solid #c2baae;
}
div.content .user-box.inactive {
    background: #d5d5d5;
    opacity: 0.5;
}
div.content .user-box:nth-child(2n) {
    margin-right: 0;
}
div.content .user-box .ou-label {
    display: block;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 13px;
    vertical-align: middle;
    font-family: "Roboto";
}
div.content .user-box .ou-label b {
    float: right;
    font-size: 22px;
}
div.content .user-box .ou-label a {
    text-decoration: none;
}
div.content .user-box .ou-label a:hover {
    text-decoration: underline;
}
div.content .user-box .fio {
    font-size: 28px;
}
div.content .user-box .fio a {
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
}
div.content .user-box .fio a:hover {
    border: none;
}
div.content .user-box .last-update {
    margin: 10px 0 30px 0;
    color: #747474;
    font-size: 13px;
    font-family: "Roboto";
}
div.content .user-box .controls {
    font-family: "Roboto";
}
div.content .user-box .controls a {
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
}
div.content .teacher-mode .user-box {
    display: block;
    position: relative;
    width: auto;
    border: none;
    margin-right: 0;
    padding: 0;
    min-height: 70px;
    background: none;
}
div.content .teacher-mode .user-box .ou-label {
    float: left;
    margin-top: 10px;
    font-family: "PT Serif";
}
div.content .teacher-mode .user-box .ou-label b {
    font-weight: normal;
}
div.content .teacher-mode .user-box .ou-label a {
    display: none;
}
div.content .teacher-mode .user-box .fio,
div.content .teacher-mode .user-box .last-update {
    margin-left: 110px;
}
div.content .teacher-mode .user-box .last-update {
    margin-top: 5px;
    margin-bottom: 0;
}
div.content .teacher-mode .user-box .fio {
    margin-right: 260px;
}
div.content .teacher-mode .user-box .controls {
    position: absolute;
    right: 0;
    top: 5px;
    width: 250px;
    line-height: 30px;
    font-size: 15px;
}
div.content .teacher-mode .user-box .controls a {
    color: #666;
}
div.content .teacher-mode .user-box .controls a:hover {
    color: #000;
}
div.content .classes-container {
    margin: 20px 0 20px 0;
    line-height: 30px;
}
div.content .classes-container li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
div.content .classes-container li span {
    white-space: nowrap;
}
div.content .classes-container li span.active a {
    border: none;
    font-weight: bold;
    color: #ef4646;
}
div.content .classes-container li a {
    font-size: 18px;
    color: #000;
    border-bottom: 1px dashed #333;
    text-decoration: none;
}
div.content .applications-separator {
    height: 10px;
    margin: 20px 0 30px 0;
}
div.content .steps {
    padding: 30px 30px 70px 30px;
    border: 1px solid #ace6cd;
}
div.content .steps > .delete {
    float: right;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 15px;
    color: #0e62c1;
    letter-spacing: 2px;
    border: 1px solid #0e62c1;
    box-sizing: border-box;
    font-family: "Roboto Bold";
    font-size: 12px;
    display: none;
}
div.content .steps > .title {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: "Roboto";
}
div.content .steps .app-info-block {
    padding: 20px 30px;
    text-align: center;
}
div.content .steps .app-info-block .fio {
    font-size: 30px;
}
div.content .steps .app-info-block .email {
    margin: 20px 0;
    font-size: 18px;
}
div.content .steps .app-info-block .email span {
    border-bottom: 1px solid #ace6cd;
}
div.content .steps .app-info-block .app-date-create {
    color: #595959;
    font-size: 15px;
    font-family: "Roboto Light";
}
div.content .steps .app-info-block .controls {
    margin-top: 20px;
    color: #595959;
    font-size: 15px;
    font-family: "Roboto";
}
div.content .steps .app-info-block .controls span {
    margin: 0 10px;
}
div.content .steps .app-info-block .controls span:first-child {
    margin: 0;
}
div.content .steps .app-info-block .controls span a {
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
}
div.content .steps .app-info-block .controls a {
    color: #1b1a1d;
}
div.content .steps .step {
    position: relative;
    margin-top: 40px;
    padding-left: 65px;
}
div.content .steps .step h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}
.teachers-mail-list td {
    padding-right: 10px;
}
/* //Cabinet */
/* Lessons */
.control-checkbox {
    clear: both;
    margin: 10px 0 0 0;
}
.no-data {
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
    background: #c2baae;
}
.timetable-back-forward {
    margin: 20px 0;
    line-height: 27px;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto";
}
.timetable-back-forward a {
    text-decoration: none;
}
.timetable-back-forward i {
    vertical-align: middle;
}
.timetable-back-forward .back i {
    display: inline-block;
    width: 40px;
    height: 27px;
    background: url("/v2/images/pagination/arrow-back.png") no-repeat left top;
}
.timetable-back-forward .forward i {
    display: inline-block;
    width: 40px;
    height: 27px;
    background: url("/v2/images/pagination/arrow-forward.png") no-repeat right top;
}
.timetable-back-forward span i {
    opacity: 0.2;
}
.timetable-back-forward .today {
    padding: 5px 10px;
    margin: 0 15px;
    border: 1px solid #ace6cd;
    border-radius: 5px;
}
.week-lessons {
    table-layout: fixed;
    width: 100%;
}
.week-lessons th {
    text-align: center;
    font-size: 14px;
    padding: 5px 0 10px 0;
    background: #c2baaf;
    vert-align: top;
    border: none;
}
.week-lessons th.day-now {
    background: #b7afa3;
}
.week-lessons th h5 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "PT Serif";
}
.week-lessons th h5 div.date {
    display: block;
    font-size: 16px;
    font-weight: normal;
}
.week-lessons tr {
    border-bottom: 1px solid #c2baaf;
}
.week-lessons tr:last-child {
    border: none;
}
.week-lessons tr.lesson-about {
    border: none;
}
.week-lessons tr.lesson-about td {
    color: #c2baaf;
}
.week-lessons tr.lesson-about td .time {
    color: #1a1c1b;
}
.week-lessons tr td {
    vertical-align: top;
    padding: 10px;
}
.week-lessons tr td h5 {
    margin: 0 0 10px 0;
    display: inline;
    padding: 0;
    background: #def5eb;
    box-shadow: 5px 0 0 #def5eb, -5px 0 0 #def5eb;
    font-size: 18px;
}
.week-lessons tr td h5 a {
    text-decoration: none;
}
.week-lessons tr td.day-now {
    background: #f3f1ef;
}
.week-lessons tr td.day-window h5 {
    display: none;
}
.week-lessons tr td .about,
.week-lessons tr td .homework {
    font-size: 14px;
    margin-top: 5px;
}
.week-lessons tr td .homework strong {
    color: #838288;
}
.week-lessons tr td .grade {
    font-size: 24px;
    font-weight: bold;
    color: #c31e1e;
}
.teachers-list h2 {
    font-family: "PT Serif";
}
.events-list h2 {
    font-family: "PT Serif";
}
.dnevnik-advert-block {
    padding: 0 50px 0 50px;
    padding: 0 5vw 0 5vw;
    white-space: normal;
}
/* Page Subject */
.subject .teacher {
    float: right;
    margin-top: 25px;
}
.subject .year-list {
    margin-top: 30px;
}
.subject .year-list li {
    display: inline-block;
    vertical-align: top;
    min-width: 130px;
    padding-right: 30px;
    margin-right: 25px;
    color: #a8a6ac;
}
.subject .year-list li.fill,
.subject .year-list li.current {
    background: url("/v2/images/diary/period_arrow_right.png") no-repeat right 5px;
    color: #1b1a1d;
}
.subject .year-list li strong {
    display: block;
    font-size: 26px;
    margin-bottom: 15px;
}
.subject .subject-stat {
    margin-top: 40px;
    table-layout: fixed;
    width: 100%;
}
.subject .subject-stat tr {
    border-bottom: 1px solid #eaeaea;
}
.subject .subject-stat th {
    padding: 25px 15px;
    font-size: 20px;
    background: #c2baae;
}
.subject .subject-stat th:first-child {
    width: 100px;
}
.subject .subject-stat td {
    padding: 15px 15px;
    font-family: "Roboto";
}
.missed-days {
    table-layout: fixed;
    width: 100%;
}
.missed-days td,
.missed-days th {
    padding: 5px;
    border-bottom: 1px solid;
}
.missed-days tbody tr:last-child td {
    border: none;
}
.breadcrumbs i {
    font-style: normal;
    margin-left: 5px;
}
.breadcrumbs i:after {
    content: ">";
}
/* Dnevnik/Report */
.summary .summary-statistic {
    padding: 40px;
    box-sizing: border-box;
    background: #c2baae;
    vertical-align: top;
    position: relative;
    font-family: "Roboto";
}
.summary .summary-statistic .block-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.summary .summary-statistic .ou-full-title {
    padding-top: 5px;
    margin-bottom: 15px;
}
.summary .summary-statistic a.more {
    display: inline-block;
    margin: 0 30px 0 0;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
    box-sizing: border-box;
}
.summary .summary-statistic a.more:hover {
    border-color: transparent;
}
.summary .summary-statistic .school-description {
    display: inline-block;
    width: 47%;
    padding-right: 3%;
}
.summary .summary-statistic .director,
.summary .summary-statistic .stat {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    vertical-align: top;
}
.summary .summary-statistic .stat {
    margin: 0;
}
.summary .summary-statistic .stat li {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-right: 4%;
    margin-bottom: 20px;
    font-size: 13px;
}
.summary .summary-statistic .stat li .count {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-family: "PT Serif";
}
.summary .summary-statistic .director strong {
    display: block;
    font-size: 28px;
    font-weight: normal;
    font-family: "PT Serif";
}
.summary .summary-statistic .director a {
    font-size: 14px;
    font-family: "Roboto";
}
.summary .export-status {
    font-family: "Roboto";
}
.summary .content {
    margin-left: 0;
    padding: 0;
}
.summary .content h2 {
    font-family: "PT Serif";
}
.summary .ou-events {
    font-family: "Roboto";
}
.summary .ou-events li {
    margin-bottom: 20px;
}
.summary .ou-events li .edit-controls {
    margin-top: 10px;
}
.summary .ou-events li .edit-controls .date {
    color: #b1b1b1;
}
.summary .ou-events .paginator .control span {
    margin-right: 10px;
}
.summary .teachers h1 {
    font-family: "PT Serif";
    font-weight: normal;
    border: none;
}
.summary .teachers .fio {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "PT Serif";
}
.summary .teachers .fio:hover {
    border-color: transparent;
}
.summary .teachers .teacher-details {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto";
}
.summary .teachers .teacher-details a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
    box-sizing: border-box;
}
.summary .teachers .teacher-details a:hover {
    border-color: transparent;
}
/* //Dnevnik/Report */
/* Promo Page */
/* Student Selector */
.student-selector {
    width: 100%;
    padding-bottom: 100px;
}
.student-selector .tabs {
    line-height: 46px;
    margin-bottom: 35px;
    white-space: nowrap;
    border-bottom: 1px solid #d1d1d2;
    font-size: 16px;
    font-family: "Roboto";
}
.student-selector .tabs li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    border-bottom: 5px solid transparent;
}
.student-selector .tabs li.active {
    border-color: #ace6cd;
}
.student-selector .tabs li a {
    text-decoration: none;
}
.student-selector .tabs li a b {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}
.student-selector .group-filter {
    margin: 10px 0 30px 0;
}
.student-selector .group-filter select {
    width: 400px;
}
.student-selector .group-filter .separator {
    height: 10px;
}
.student-selector .classes a {
    display: inline-block;
    text-decoration: none ;
}
.student-selector .students-list a,
.student-selector .students-list span,
.student-selector .classes a,
.student-selector .classes span {
    display: inline-block;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
}
.student-selector .students-list a.active,
.student-selector .students-list span.active,
.student-selector .classes a.active,
.student-selector .classes span.active {
    background: #ace6cd;
    color: #333;
}
.student-selector .students-container {
    margin: 0 0 0 100px!important;
}
.student-selector .students-container a:hover {
    text-decoration: underline;
}
.student-selector .students-container span {
    color: #333;
    background: #ace6cd;
}
.student-selector .classes-container {
    float: left;
    width: 100px;
    font-family: "Roboto";
    font-size: 16px;
}
.student-selector .children {
    margin-top: 10px;
}
/* //Student Selector */
/*СЃРѕР±С‹С‚РёСЏ Рё РѕР±СЉСЏРІР»РµРЅРёСЏ*/
.ou-events {
    /* @todo СѓР±СЂР°С‚СЊ РєР»Р°СЃСЃ events, Р»РёР±Рѕ РёРј РѕРїРёСЃР°С‚СЊ РєРѕРЅС‚РµР№РЅРµСЂ РІРѕРєСЂСѓРі РІСЃРµРіРѕ Р±Р»РѕРєР°. РїРѕРґСѓРјР°С‚СЊ */
    position: relative;
    float: right;
    padding: 0 15px 45px 15px;
    width: 35%;
    overflow: hidden;
}
.messages .mail-link-container input {
    margin-right: 10px;
}
table.ou-events-list {
    margin: 15px 0;
    font-size: 14px;
}
table.ou-events-list tr td,
.ou-events li {
    padding: 0 10px 20px 0;
}
table.ou-events-list tr td:first-child a {
    white-space: nowrap;
}
table.ou-events-list tr.no-data td {
    margin: 15px 0;
}
table.ou-events-list tr td .event-details {
    overflow: hidden;
}
table.ou-events-list td div.edit-controls,
table.ou-events-list tr td .event-classes {
    margin: 5px 0 0 0;
    font-size: 12px;
}
table.ou-events-list tr td .event-classes .nowrap {
    white-space: nowrap;
    text-transform: uppercase;
}
table.ou-events-list td div.edit-controls span,
table.ou-events-list td div.edit-controls a {
    margin: 0 30px 0 0;
}
.ou-events-list .edit-controls a,
.ou-events .edit a,
.ou-events .paginator a,
.ou-events-list .edit-controls span,
.ou-events .edit span,
.ou-events .paginator span {
    margin-right: 10px;
    font-family: "Roboto";
}
table.ou-events-list td div.edit-controls span.date,
table.ou-events-list tr td .event-classes,
.ou-events .edit span.date {
    color: #a4a4a4;
    display: block;
}
.ou-events .edit {
    padding-top: 10px;
    font-family: "Roboto";
}
.ou-events .edit span.date {
    display: inline;
    margin-right: 10px;
}
table.ou-events-list td div.edit-controls a.delete,
.ou-events .edit-controls a.delete {
    color: #a4a4a4;
}
#createEvent {
    float: right;
    margin: 4px 0 0 0;
}
/* Student Selector */
.select-student,
.school-list-popup {
    position: fixed;
    left: 0;
    top: 0;
    padding: 75px 25px 30px 25px;
    width: 40%;
    width: 40vw;
    min-width: 450px;
    height: 100%;
    background: #fff;
    z-index: 9999999;
    overflow-y: auto;
}
.select-student #school-select,
.school-list-popup #school-select {
    min-width: 50px;
    vertical-align: middle;
}
.school-list-popup #ou-title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: none;
    padding: 0 0 0 17px;
    box-sizing: border-box;
    border-bottom: 1px solid #8fbdba;
    background: #eaf9f2;
    font-size: 20px;
    font-family: "PT Serif";
}
/* Create Application */
.select-ou-list li {
    padding: 0 0 20px 0;
}
.select-ou-list h5 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0 10px 0;
}
.user-confirm-data {
    margin: 0 0 20px 0;
}
.user-confirm-data table td {
    padding: 10px;
    vertical-align: top;
}
/* Student Profile */
.profile-user-links {
    margin-bottom: 30px;
}
.profile-user-links li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}
.profile-user-links li a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ace6cd;
    box-sizing: border-box;
    font-family: "Roboto";
}
.profile-user-links li a:hover {
    border-color: transparent;
}
.user-connections > li {
    border-bottom: 1px solid #d5d5d5;
}
.user-connections > li:first-child {
    font-size: 18px;
    padding-bottom: 15px;
}
.user-connections li {
    margin-bottom: 10px;
}
.user-connections li .label {
    font-weight: bold;
    width: 270px;
}
.user-connections li .label,
.user-connections li .value {
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}
.awards li {
    margin-bottom: 10px;
}
.profile h3 {
    font-size: 22px;
    margin-top: 40px;
}
.download-portfolio {
    margin-top: 30px;
}
/* */
ul.table-view-list {
    margin: 10px 0 20px 0;
    font-family: "Roboto";
}
ul.table-view-list li {
    padding: 0 20px;
    line-height: 34px;
    white-space: nowrap;
    border-bottom: 1px solid #e4e4e4;
}
ul.table-view-list li:first-child {
    border-top: 1px solid #e4e4e4;
}
ul.table-view-list li:nth-child(even) {
    background: #f2f2f2;
}
ul.table-view-list li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
    margin-right: 10px;
}
ul.table-view-list li span.type {
    width: 460px;
}
ul.table-view-list li span.date {
    width: 150px;
}
ul.table-view-list li span.time {
    width: 150px;
}
.meal .stat {
    margin: 20px 0;
}
.meal .stat .item {
    display: inline-block;
    background: #F8F7D6;
    padding: 15px 30px;
}
.meal .stat .item h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}
.meal .stat .item ul {
    display: table;
}
.meal .stat .item ul li {
    line-height: 24px;
    display: table-row;
}
.meal .stat .item ul li span {
    display: table-cell;
}
.meal .stat .item ul li span.count {
    padding-left: 10px;
    text-align: right;
}
.meal table.meal-list {
    margin: 20px 0;
    width: 100%;
    table-layout: fixed;
    border: none;
    font-family: "Roboto";
}
.meal table.meal-list thead {
    font-weight: normal;
    color: #999;
}
.meal table.meal-list thead th {
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 5px 8px 10px;
    word-break: break-word;
}
.meal table.meal-list tbody tr:nth-child(even) {
    background: #f2f2f2;
}
.meal table.meal-list tbody td {
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 5px 8px 10px;
}
/* Component Data-table */
.header-filter {
    margin: 30px 0 40px 0;
    font-family: "Roboto";
}
.header-filter .field {
    padding-top: 12px;
}
.header-filter .field input.modern {
    margin-top: 0;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
}
.data-table thead th {
    font-family: "Roboto";
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    background: #f0f1f5;
    padding: 25px 20px;
}
.data-table tbody td {
    padding: 15px 20px 20px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: "Roboto Light";
}
.data-table tbody td .button {
    height: 24px;
    line-height: 24px;
}
.data-table tbody td .download-link {
    margin-right: 5px;
}
/* //Component Data-table */